
body {
  font-size: 15px;
  color: #454545;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  vertical-align: baseline;
  line-height: 1.7;
  font-weight: 400;
  overflow-x: hidden;
  /* background-color: #121212; */
}

*, ::after, ::before {
    box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 26px;
  line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
  color:white;
  margin: 0 0 26px;
  line-height: 1.2;
}

h1 {
  font-size: 52px;
  line-height: 62px;
  font-weight: 700;
}

h2 {
  font-size: 46px;
  line-height: 50px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
}

h4 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

a {
  color: #bb0b0b;
  transition: all 0.3s ease;
  text-decoration: none !important;
  outline: none !important;
}

a:active,a:hover {
  text-decoration: none;
  outline: 0 none;
  color: #bb0b0b;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
 /* ----------------header---------------- */

 .full-width {
  position: relative;
  background-image: url("https://www.gvtechsolution.com/assets/images/banner/style1/main-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
 
 }
 
 .full-width .contact-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  /* border-bottom: 1px solid wheat; */
  
 }

 @media only screen and (max-width: 991px) {
  .full-width .contact-info {
    display: none;
  }
 }

 @media (min-width: 576px) {
    .full-width .contact-info {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .full-width .contact-info {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .full-width .contact-info {
        max-width: 1500px;
    }
}

 .full-width .contact-info ul {
  display: flex;
  justify-content: center;  /* or space-between / flex-start as needed */
  align-items: center;
  gap: 40px;                /* Optional: add spacing between items */
}


 .full-width .contact-info li{
   display: inline-block;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  margin-right: 40px;
  padding-right: 20px;
 }

 .full-width .contact-info li i{
  margin-right: 10px;
 }
 
 

 .full-width .contact-info li a{
  color: white;
  font-size: 16px;
 }

 .full-width .contact-info li a:hover{
 color:red;
 }

 .full-width .logo-area {
  display: flex;                  /* Make logo and nav horizontal */
  align-items: center;           /* Vertically center the items */
  justify-content: space-between; /* Optional: space between logo and nav */
  padding: 20px 40px;            /* Add some spacing */
}


 .full-width .logo-area a .normal-logo{
  height: auto;
  max-width: 170px;
  margin-left: 150px;
 }

 .full-width .logo-area a .normal-logo img{
  margin-right: 10px;
  width: 100%;
  height: auto;
 }

 /* ------------navbar---------------- */

.full-width .logo-area .navbar .nav-menu li {
  display: inline-block;
  margin-right: 32px;
  padding: 0;
}

.full-width .logo-area .navbar .nav-menu li a {

  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  height: 95px;
  line-height: 95px;
  padding: 0;
  color: #ffffff;
  font-family: Poppins;
}

.full-width .logo-area .navbar .nav-menu li a:hover {
  color: #bb0b0b;
}

.full-width .logo-area .navbar .nav-menu li a:after {
  content: '';
  
  width: 100%;
  height: 2px;
  background-color: #bb0b0b;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}


/* --------------home---------------- */

.full-width .home {
  padding: 100px 60px;
  text-align: center;
  
 
}

.full-width .home .sub-title {
  color: #ffffff;
  margin: 0px 0px 10px 0px;
  padding: 0px 20px;

}

.full-width .home .btn {
  display: inline-block;
  background-color: #bb0b0b;
  color: #ffffff;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.full-width .home .btn:hover {
  background-color: #ffffff;
  color: #bb0b0b;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.75);
}
.full-width .home .btn:active {
  transform: scale(0.95);
}
.full-width .home .btn:focus {
  outline: none;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.75);
}
.full-width .home .btn:focus-visible {
  outline: 2px solid #bb0b0b;  
  outline-offset: 2px;
}


/* -----------about---------------- */

.about {
  padding: 100px 60px;
  /* background-color: #f4f4f4; */
  background: url("https://www.gvtechsolution.com/assets/images/bg/about-bg.png") no-repeat center center;
  background-position: top-center;
  margin-top: 60px;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 991px) {
    .about {
        padding-top: 70px;
        margin-bottom:50px;
        flex-shrink: 0;
    }
}

.about .container {
  display: flex;
  padding: 0 40px;
  max-width: 1200px;
  margin: 0 auto;
  
}

@media (min-width: 576px) {
    .about .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .about .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .about .container {
        max-width: 1150px;
    }
}



.about .container .image-part img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  vertical-align: middle;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 40px;
 border-bottom-right-radius: 40px;
 /* overflow: hidden; */
}

.about .container .sec-title {
  max-width: 500px;
  margin-left: 60px;
  box-sizing: border-box;
}
.about .container .sec-title .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: #0a0a0a;
  margin-bottom: 0;
  padding-top: 28px;
  position: relative;
}

.sec-title .title:after {
    content: '';
    position: absolute;
    border: 0;
    width: 65px;
    height: 5px;
    background: #bb0b0b;
    z-index: 1;
    margin-left: 0;
    left: 0;
    top: 0;
}
.about .container .sec-title .sub-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #191821;
  text-transform: capitalize;
  display: block;
  margin: 0 0 10px;
}
.about .container .sec-title p {
 display: block;
 margin: 0;
  line-height: 1.8;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 18px;
  color:black;
  margin-bottom: 30px;
}
.about .container .sec-title .btn-part {
  display: flex;
  margin-top: 30px;
  gap: 20px; /* Space between buttons */
}
.about .container .sec-title .btn-part .readon {
  background-color: #bb0b0b;
  color: #ffffff;  
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.about .container .sec-title .btn-part .readon:hover {
  background-color: #ffffff;
  color: #bb0b0b;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.75);
} 
.about .container .sec-title .btn-part .readon:active {
  transform: scale(0.95);
}
.about .container .sec-title .btn-part .readon:focus {
  outline: none;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.75);
}
.about .container .sec-title .btn-part .readon:focus-visible {
  outline: 2px solid #bb0b0b;  
  outline-offset: 2px;
}


/* ------------services----------------  */

.services {
  padding: 100px 100px;
  background: url("https://www.gvtechsolution.com/assets/images/bg/ser-bg.png") no-repeat center center;
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 100px;
  box-sizing: border-box;
  display: block;
  position: relative;
}

@media (min-width: 576px) {
    .services .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .services .container {
        max-width: 720px;
    }
}
@media (min-width: 996px) {
    .services .container {
        max-width: 1520px;
    }
}

.services .title { 
  display: flex;
  flex-wrap: wrap;
}



.services .title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: white;
  margin: 0;
  padding-top: 28px;
}

.services .title h2:after {
    content: '';
    position: absolute;
    border: 0;
    width: 65px;
    height: 5px;
    background: #bb0b0b;
    z-index: 1;
    margin-left: 0;
    left: 0;
    top: 0;
}

.services .title .btn{
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 800px;
  background-color: #bb0b0b;
  color: #ffffff;  
  padding: 12px 30px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 20px;
} 
.services .title .btn:hover {
  background-color: #ffffff;
  color: #bb0b0b;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.75);
}
.services .title .btn:active {
  transform: scale(0.95);
}
.services .title .btn:focus {
  outline: none;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.75);
}
.services .title .btn:focus-visible {
  outline: 2px solid #bb0b0b;  
  outline-offset: 2px;
} 


.services .discription{
 color: #f5f5f5;;
  font-size: 16px;
  line-height: 1.8;
  margin:0 0 26px;
  margin-top: 50px;
}

.services .all-services{
 --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    box-sizing: border-box;
}
.services .all-services .service-items {
  flex: 0 0 auto;
  width: 33.333333%;
  margin-bottom: 55px;
  padding: 0 calc(var(--bs-gutter-x) * .5);
  box-sizing: border-box;
}

.services .all-services .service-items .item{
 display: flex;
 box-sizing: border-box;
}

.services .all-services .service-items .item .icon {
 vertical-align: middle;
 box-sizing: border-box;
 overflow-clip-margin: content-box;
 overflow: clip;
}

.services .all-services .service-items .item .icon img{
  width: 70px;
  height: 70px;
  max-width: unset;
}

.services .all-services .service-items .item .text {
 padding: 0px 0px 0px 25px;
}

.services .all-services .service-items .item .text .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 13px;
}

.services .all-services .service-items .item .text .title a{
 color: #ffffff;
}

.services .all-services .service-items .item .text .title a:hover{
 color: #bb0b0b;
}

.services .all-services .service-items .item .text .services-txt{
  color: white;
  margin: 0;
}

/* --------------project----------------   */

.project {
  padding: 100px 100px;
  background: url("https://www.gvtechsolution.com/assets/images/bg/portfolio-bg.png") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: block;
}

@media only screen and (max-width: 991px) {
    .project {
        padding-bottom: 70px;
        padding-top: 70px;
    }
}

.project .container{
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    box-sizing: border-box;
    
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        display: block;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

.project .container .title {
  text-align: center !important;
  margin-bottom: 60px;
}

.project .container .title .titleh2 {
  font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #0a0a0a;
    margin: 0;
    position: relative;
    padding-top: 28px;
}

.project .container .title .titleh2::after {
  content: '';
    position: absolute;
    border: 0;
    width: 65px;
    height: 5px;
    background: #bb0b0b;
    z-index: 1;
    margin-left: 0;
    left: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.project .container .grid{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.grid>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
    .grid-item {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .grid-item {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.project .container .grid .grid-item {
  
  margin-bottom: 30px;
  /* padding: 0 calc(var(--bs-gutter-x) * .5); */
  
}

.project .container .grid .grid-item .project-item {
  position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 225px;
}

.project .container .grid .grid-item .project-item .project-img {
  /* width: 100%; */
  height: 100%;
  /* object-fit: cover; */
  /* transition: transform 0.3s ease; */
}

.project .container .grid .grid-item .project-item .project-img>img {
  object-fit: fill;
  height: 100%;
  
}

/* .project .container .grid .grid-item .project-item:hover .project-img {
    transform: scale(1.1);
} */



.project .container .grid .grid-item .project-item .project-content{
    position: absolute;
    padding: 17px 25px 15px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    left: 0px;
    bottom: -100px;
    text-align: left;
    width: 100%;
    transition: 0.4s;
    height: 100%;
  }
  .project .container .grid .grid-item .project-item .project-content::before {
    content: '';
    position: absolute;
    bottom: -150px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 17, 17, 0.88);
    transition: all 0.4s;
  }
  .project .container .grid .grid-item .project-item .project-content .project-inner{
    position: absolute;
    bottom: -100px;
    transition: 0.5s;
    left: 40px;
    top: 20px;
  }

.project .container .grid .grid-item .project-item .project-content .project-inner .category {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px
  }
.project .container .grid .grid-item .project-item .project-content .project-inner .category a {
   color: rgb(195, 194, 194);
  }

.project .container .grid .grid-item .project-item .project-content .project-inner .title{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }



.project .container .grid .grid-item .project-item .project-content .project-inner .title a{
       color: rgb(255, 255, 255);
  }

.project .container .grid .grid-item .project-item .project-content .project-inner .p-icon{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background: rgb(187, 11, 11);
    font-size: 18px;
    display: block;
  }

.project .container .grid .grid-item .project-item .project-content .project-inner .p-icon .custom-icon{
    position: relative;
    /* line-height: 1;
    overflow: visible; */
  }

.project .container .grid .grid-item .project-item .project-content .project-inner .p-icon .custom-icon::before{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 0;
    content: '\f114';
    font-family: flaticon;
}
.project .container .grid .grid-item .project-item:hover .project-content {
    opacity: 1;
    visibility: visible;
    bottom: 0;
    transition: 0.4s;
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 100%; 
    text-align: left;

}
.project .container .grid .grid-item .project-item:hover .project-content::before {
    opacity: 1;
    visibility: visible;
    bottom: 0;
    transition: all 0.4s;
    background-color: rgba(26, 17, 17, 0.88);
}
.project .container .grid .grid-item .project-item:hover .project-content .project-inner {
    bottom: 0;
    transition: 0.5s;
}

.project .container .grid .grid-item .project-item:hover .project-content .project-inner .p-icon{
    bottom: 10px;
    transition: 0.5s;

}



/* --------------team----------------  */

.teams {
  background: url("https://www.gvtechsolution.com/assets/images/bg/team-bg.jpg") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  display: block;
  padding-bottom: 100px;
  padding-top: 100px;
}

.teams .container{
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  box-sizing: border-box;
  display: block;
  position: relative;
}

@media (min-width: 576px) {
    .teams.container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .teams.container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .teams.container {
        max-width: 960px;
    }
}

.teams .container .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.teams .container .y-middle{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.teams .container .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 992px) {
    .teams .container .y-middle .heading {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}


.teams .container .row .heading .sec-title{
    margin-bottom: 50px;
}



.teams .container .row .heading .sec-title .title {
  font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: rgb(255, 255, 255) !important;
    position: relative;
    padding-top: 28px;
    margin: 0px;
}

.teams .container .row .heading .sec-title .title::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 5px;
    z-index: 1;
    margin-left: 0px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: rgb(187, 11, 11);
}


@media (min-width: 992px) {
    .teams .container .row .mainbtn {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
}
.teams .container .row .mainbtn {
  text-align: right;
}

.teams .container .row .mainbtn .btn{
  margin-bottom: 90px;
}

.teams .container .row .mainbtn .btn .readon {
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: transparent;
    transition: 0.4s;

}
.teams .container .row .mainbtn .btn .consultant {
    color: rgb(255, 255, 255);
    position: relative;
    padding: 18px 35px;
    border-radius: 0px;
    background: rgb(187, 11, 11);
    overflow: hidden;

}

.teams .container .row .mainbtn .btn .discover {
        padding: 15px 40px;

}

@media only screen and (max-width: 991px) {
    .readon {
        padding: 16px 28px 16px 28px;
        font-size: 15px;
    }
}

.teams .container .row .mainbtn .btn .readon ::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 300px;
    height: 200px;
    background-color: rgb(51, 51, 51);
    transform: translate(-40px, -80px) scale(0.1);
    opacity: 0;
    z-index: -1;
    border-color: transparent;
    border-radius: 50%;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;

}

.teams .container .row .mainbtn .btn .readon:hover{
  color: #ccc;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;

}
  











  

/* -----------footer----------------  */

.footer{
  background: #121212;
  background-size: cover;
  box-sizing: border-box;
}

.footer .footer-top {
  padding: 92px 0 65px;
  box-sizing: border-box;
  position: relative;
  display: block;
}

.footer .footer-top .container {
    max-width: 960px;
    width: 100%;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    position: relative;
}

@media (min-width: 576px){
  .footer .footer-top .container {
    max-width: 540px;
  }
}

@media (min-width: 768px){
  .footer .footer-top .container {
    max-width: 720px;

  }
}

@media (min-width: 992px) {
  .footer .footer-top .container {
    max-width: 960px;
  }
}


.footer .footer-top .container .content {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    gap: 30px;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.footer .footer-top .container .content>* {
    max-width: 100%;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    box-sizing: border-box;
}

.footer .footer-top .container .content .d-flex {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  box-sizing: border-box;
  position: relative !important;
  /* overflow: hidden !important; */
  flex-direction: row !important;
  gap: 30px !important;
  flex: 1 1 auto !important;
  flex-basis: 0 !important;
  max-width: 100% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
}

@media (min-width: 576px) {
    .footer .footer-top .container .content .d-flex {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .footer .footer-top .container .content .d-flex {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .footer .footer-top .container .content .d-flex {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.footer .footer-top .container .content .d-flex.flex-column {
  margin-right:auto !important;
  margin-left: auto !important;
  flex-direction: column !important;
  display: flex !important;
  box-sizing: border-box;
  max-width: 100% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  position: relative !important;
}

.footer .footer-top .container .content .d-flex .flex-column .footer-logo {
  margin-bottom: 40px;
}

.footer .footer-top .container .content .d-flex .flex-column .footer-logo a {
    color: #bb0b0b;
    transition: all 0.3s ease;
    text-decoration: none !important;
    outline: none !important;
}

.footer .footer-top .container .content .d-flex .flex-column .footer-logo a img {
  height: 40px;
  max-width: 100%;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
  box-sizing: border-box;

}

.footer .footer-top .container .content .d-flex .flex-column .footer-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-bottom: 14px;
    box-sizing: border-box;

}

.footer .footer-top .container .content .d-flex .flex-column .footer-title::after{
  content: '';
    width: 50px;
    height: 4px;
    background: #bb0b0b;
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 0;
    margin-left: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
}

.footer .footer-top .container .content .d-flex .flex-column ul {
  padding: 0;
  margin: 0;
  list-style: outside none none;
  display: block;
  /* list-style-type: disc; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  unicode-bidi: isolate;
}

.footer .footer-top .container .content .d-flex .flex-column .site-map li {
  margin-bottom: 15px;
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  box-sizing: border-box;
}

.footer .footer-top .container .content .d-flex .flex-column .site-map li a {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  transition: all 0.3s ease;
  text-decoration: none !important;
  outline: none !important;
}

.footer .footer-top .container .content .d-flex .flex-column .site-map li a:hover {
  color: #bb0b0b;;
}

.footer .footer-top .container .content .d-flex .flex-column .footer-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-bottom: 14px;
    box-sizing: border-box;

}

.footer .footer-top .container .content .d-flex .flex-column .footer-title::after {
  content: '';
    width: 50px;
    height: 4px;
    background: #bb0b0b;
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 0;
    margin-left: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;

}

.footer .footer-top .container .content .d-flex .flex-column .address-widget {

  padding: 0;
  margin: 0;
  list-style: outside none none;
  display: block;
  /* list-style-type: disc; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  unicode-bidi: isolate;
}

.footer .footer-top .container .content .d-flex .flex-column .address-widget li {
  padding: 0px 0px 16px 40px;
  position: relative;
  box-sizing: border-box;
}

.footer .footer-top .container .content .d-flex .flex-column .address-widget li i {
  color: #bb0b0b;
  position: absolute;
  top: 5px;
  left: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

/* .footer .footer-top .container .content .d-flex .flex-column .address-widget li i::before {
  margin: 0;
  content: "\f10a";
  font-size: 20px;
  font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
    color: #bb0b0b;
    box-sizing: border-box;
} */

footer .footer-top .container .content .d-flex .flex-column .address-widget .desc{
  color: #ffffff;
  font-weight: 500;
  box-sizing: border-box ;
  font-weight: bold;

}


footer .footer-top .container .content .d-flex .flex-column .address-widget .desc a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none !important;
  font-weight: bold;
}

footer .footer-top .container .content .d-flex .flex-column .address-widget .desc a:hover {
  color: #bb0b0b;
}

/* footer .footer-top .container .content .d-flex .flex-column .address-widget .flaticon-location::before {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  content: "\f041";
  font-family: Flaticon;
} */

/* footer .footer-top .container .content .d-flex .flex-column .address-widget .flaticon-call::before{
  margin: 0;
  font-size: 20px;
  font-style: normal;
  content: "\f108";
  font-family: Flaticon;
}

.footer .footer-top .container .content .d-flex .flex-column .address-widget .flaticon-email::before {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  content: "\f0e0";
  font-family: Flaticon;
} */

.footer .footer-bottom{
  padding: 20px 0;
  background: #000;
  box-sizing: border-box;
  display: block;
}

.footer .footer-bottom .container {
  max-width: 1200px;
  width: 100%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
    .footer .footer-bottom .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .footer .footer-bottom .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .footer .footer-bottom .container {
        max-width: 1400px;
    }
}

.footer .footer-bottom .container .y-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5)
}

.footer .footer-bottom .container .y-middle>*{
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 992px) {
    .footer .footer-bottom .container .y-middle .text-center {
        flex: 0 0 auto;
        width: 50%;
    }
}

.footer .footer-bottom .container .y-middle .text-center {
  text-align: center !important;
  order: 6 !important;
  /* margin-left: 600px; */
 
}

@media (min-width: 992px) {
   .footer .footer-bottom .container .y-middle .text-center  {
        text-align: right !important;
    }
}


.footer .footer-bottom .container .y-middle .text-center .copy-right-menu{
  list-style: outside none none;
  margin: 0;
  padding: 0;;
  display: block;
  list-style-type: disc;

}

.footer .footer-bottom .container .y-middle .text-center .copy-right-menu li {
  display: inline-block;
  position: relative;
  padding: 0px 19px 0 25px;
}

.footer .footer-bottom .container .y-middle .text-center .copy-right-menu li a {
  color: #ffffff;
  transition: all 0.3s ease;
  text-decoration: none !important;
  outline: none !important;
  font-weight: bold;
}


.footer .footer-bottom .copy-right-menu li:before {
    display: block;
    content: '';
    position: absolute;
    font-size: 18px;
    background: #bb0b0b;
    left: 0;
    top: 50%;
    width: 6px;
    height: 6px;
    transform: translateY(-50%);
    border-radius: 50%;
}

.footer .footer-bottom .container .y-middle .text-center .copy-right-menu li a:hover {
  color: #bb0b0b;
}

.fooetr .footer-bottom .container .y-middle .copyright-text {
  flex: 0 0 auto;
  width: 50%;
}

.footer .footer-bottom .container .y-middle .copyright-text .copyright {
  text-align: left !important;
  margin-right: 180px;
}

.footer .footer-bottom .container .y-middle .copyright-text .copyright p {
    margin: 0;
    line-height: 1.8;
    color: #ffffff;
    font-weight: bold;
    box-sizing: border-box;
}
